In [1]:
"""
print() function
"""

print("hello world!")
print(100)
pi = 3.14
print(pi)

intro = "My name is "
name = "Lee Yin Seok"
print(intro + name + "!")

hello world!
100
3.14
My name is Lee Yin Seok!

In [2]:
"""
Variables
"""

#나를 표현 할 수 있는 정보 세 가지 이상을 변수로 선언하시오.
user_name = "Lee Yin Seok"
user_email = "qlfkslzk@ac.kr"
user_phone = "010-2144-3758"
print("내 이름은 " + user_name + "입니다.\n내 이메일은 " + user_email + "입니다.\n내 전화번호는 " + user_phone + "입니다.")

내 이름은 Lee Yin Seok입니다.
내 이메일은 qlfkslzk@ac.kr입니다.
내 전화번호는 010-2144-3758입니다.

In [3]:
"""
Variables
"""

x = 1
print('x = ', x)
print("Address of x: ", id(x))

x = 2 
print('x = ', x)
print("Address of x: ", id(x))

x =  1
Address of x:  140703247312688
x =  2
Address of x:  140703247312720

In [18]:
"""
Data Types: Integers
"""

#집에 있는 세 가지 이상의 사물의 갯수를 정수 변수로 표현하시오.

phones = 3
computers = 2
watchs = 4
print('휴대폰의 개수 : ', phones)
print('컴퓨터의 개수 : ', computers)
print('시계의 개수 : ', watchs)

휴대폰의 개수 :  3
컴퓨터의 개수 :  2
시계의 개수 :  4

In [21]:
"""
Data Types: Real Numbers
"""

#본인이 알고 있는 세 개의 실수를 변수로 정의하시오.
PI = 3.14

In [5]:
"""
boolean variables
"""

is_tested = False
print(type(is_tested))

a = "3.14"
print(type(a))

<class 'bool'>
<class 'str'>